form.commerce-webform {
  position: relative;
}

form.commerce-webform #edit-cost {
  font-size: 14px;
  font-weight: bold;
  position:absolute;
  right:0;
  top:0;
  padding: 0 15px;
  background: #ececec;
  width: 200px;
}
form.commerce-webform #edit-title {
  border-bottom: 1px solid #cccccc;
  margin: 8px 0 4px;
  padding: 0 0 4px;
  overflow: hidden;
}
form.commerce-webform #edit-title label {
  float: left;
}
form.commerce-webform #edit-cost span {
  float: right;
}
form.commerce-webform #edit-title label,
form.commerce-webform #edit-title span {
  font-size: 18px;
}
form.commerce-webform #edit-cost .form-item {
  margin-bottom: 10px;
}
form.commerce-webform #edit-cost .form-item p {
  margin-bottom: 0;
}

.ajax-progress {
  float:none;
}