form.commerce-webform {
  position: relative;
}

form.commerce-webform #cost {
  font-size: 20px;
  font-weight: bold;
  position:absolute;
  right:0;
  top:0;
  padding: 0 30px;
  background: #ececec;
}

form.commerce-webform .form-item {
  overflow: hidden;
}